<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>jmdns-ws</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ZoneList</display-name>
    <servlet-name>ZoneList</servlet-name>
    <servlet-class>mta.yos.zeroconf.servlet.ZoneList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZoneList</servlet-name>
    <url-pattern>/ZoneList</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>mta.yos.zeroconf.listener.DnsSdListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>ZoneUpdate</display-name>
    <servlet-name>ZoneUpdate</servlet-name>
    <servlet-class>mta.yos.zeroconf.servlet.ZoneUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZoneUpdate</servlet-name>
    <url-pattern>/ZoneUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LocationUpdate</display-name>
    <servlet-name>LocationUpdate</servlet-name>
    <servlet-class>mta.yos.zeroconf.servlet.LocationUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LocationUpdate</servlet-name>
    <url-pattern>/LocationUpdate</url-pattern>
  </servlet-mapping>
</web-app>